# GPT API 配置
GPT_API_KEY=
GPT_MODEL_ID=

# MySQL 数据源配置
MYSQL_DATA_SOURCE="root:root@tcp(localhost:3306)/mall?charset=utf8mb4&parseTime=true&loc=Asia%2FShanghai"

# Consul 配置
CONSUL_HOST=localhost:8500

# Traces 端点配置
TRACES_ENDPOINT="http://localhost:14268/api/traces"

# Redis 配置
REDIS_HOST=localhost:6379
REDIS_PASSWORD=root

# RabbitMQ 配置
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# ElasticSearch 配置
ELASTICSEARCH_HOST=localhost:9200


# 七牛云
QINIU_ACCESS_KEY=""
QINIU_SECRET_KEY=""
QINIU_BUCKET=""
QINIU_DOMAIN=""


# gorse
GORSE_HOST="http://localhost:8088"
GORSE_APIKEY="xxxxxx"


# 支付宝
ALIPAY_APPID=
ALIPAY_PUBLIC_KEY=
ALIPAY_PRIVATE_KEY=
ALIPAY_NOTIFY_URL=
ALIPAY_NOTIFY_PATH=/alipay/notify
ALIPAY_NOTIFY_PORT=11111
ALIPAY_RETURN_URL=
